@model MasterPieceMVC.Models.Request

@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<link rel="stylesheet" href="https://openlayers.org/en/v6.6.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v6.6.1/build/ol.js"></script>
<div id="map" class="map" style="height:50vh;"></div>
<script>
    var view = new ol.View({
        center: ol.proj.fromLonLat([@Model.Longtitude,@Model.Lantitude]),
        projection: 'EPSG:4326',
        zoom: 12
    });

    var map = new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        target: 'map',
        view: view
    });

    var geolocation = new ol.Geolocation({
        tracking: true,
        projection: view.getProjection()
    });

    geolocation.on('change', function () {
        view.setCenter(geolocation.getPosition());
    });

    var marker = new ol.Feature({
        geometry: new ol.geom.Point([0, 0])
    });

    var markerSource = new ol.source.Vector({
        features: [marker]
    });

    var markerLayer = new ol.layer.Vector({
        source: markerSource
    });

    map.addLayer(markerLayer);

    geolocation.on('change:position', function () {
        var coordinates = geolocation.getPosition();
        marker.setGeometry(new ol.geom.Point(coordinates));
    });
</script>
