@{MasterPieceMVC.Models.MyMasterPieceEntities db = new MasterPieceMVC.Models.MyMasterPieceEntities();
        var service = db.Services.ToList();

        }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Template Stylesheet -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Template Stylesheet -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8b56cb52b.js" crossorigin="anonymous"></script>
    <style>
        .navbar-collapse {
            flex-grow: 0;
        }

        #logo {
            width: 50%;
        }

        .navbar-nav {
            color: black;
            font-size: 18PX;
            gap: 15px;
        }

        .dropdown-item {
            text-align: right !important;
        }

        .text-reset {
            text-decoration: none;
            text-align: right !important;
        }

        .text-muted {
            color: white !important;
            text-align: right !important;
        }

        .fas {
            color: white !important;
        }

        .fab {
            color: white;
        }

        .mb-4 {
            text-align: right !important;
        }
    </style>


</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #E6E6E6;">
        <div class="container">
            <a class="navbar-brand" href="/Services/HomePage">
                <img id="logo" src="~/pic/log.png" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            التصنيفات
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var item in service)
                            {
                                <li><a class="dropdown-item" href="#">@item.Service_Name</a></li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Services/HomePage">الصفحة الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>
                    @if (User.IsInRole("User")) {
                        <li class="nav-item">
                            <a class="nav-link" href="/Services/HomePage"><i style="font-size: 25px;" class="fa-solid fa-circle-user"></i></a>
                        </li>
                    }
                    @if (User.IsInRole("ServiceProvider"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Subscripers/SubProfile"><i style="font-size: 25px;" class="fa-solid fa-circle-user"></i></a>
                        </li>
                        @*<li class="nav-item">
                <a class="nav-link" href="WebForm7.aspx"><i style="font-size: 25px;" class="fa-solid fa-bell"></i></a>
            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="/Requests/Request"><i style="font-size: 25px;" class="fa-solid fa-bell"></i><i style="font-size: 10px; color: red; position: absolute;" class="fa-solid fa-circle"></i></a>
                        </li>
                    }

                </ul>

            </div>
        </div>
    </nav>
    @RenderBody()
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>قم بمتابعتنا على مواقع التواصل الاجتماعي</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>

            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>مصلحكم
                        </h6>
                        <p>
                            موقع مصلحكم يساعدك في ايجاد الخدمة التي تريدها باسرع وقت و افضل جودة
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            التصنيفات
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">تمديدات صحية</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">تمديدات كهربائية</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">خدمات البستنة</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            روابط مفيدة
                        </h6>
                        <p>
                            <a href="WebForm4.aspx" class="text-reset">حول مصلحكم</a>
                        </p>
                        <p>
                            <a href="WebForm9.aspx" class="text-reset">مركز المساعدة</a>
                        </p>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">تواصل معنا</h6>

                        <p>mosalih@gmail.com <i class="fas fa-envelope me-3"></i></p>
                        <p>+ 01 234 567 88 <i class="fas fa-phone me-3"></i></p>
                        <p>+ 01 234 567 89 <i class="fas fa-print me-3"></i></p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">mosalih.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/parallax/parallax.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
